html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  background: #f8f9fa; /* 부트스트랩 bg-light 느낌 */
}

.line-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.app-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
}
